# Backend environment example (DO NOT commit real secrets)

NODE_ENV=production
PORT=50017

# MongoDB Atlas connection string
# Example: mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/yhk_database?appName=YHK
MONGODB_URI=mongodb+srv://lokesh_15:lokesh15102001@cluster0.em4b62y.mongodb.net/

# JWT Secret
JWT_SECRET=your_jwt_secret_here

# Email
EMAIL_USER=sarakanamlokesh15@gmail.com
EMAIL_PASSWORD=Lokesh15102001$

