# Email Configuration
EMAIL_USER=sarakanamlokesh15@gmail.com
EMAIL_PASSWORD=Lokesh15102001$

# JWT Secret
JWT_SECRET=yhk_secret_key_2024

# MongoDB (for droplet - local instance)
MONGODB_URI=mongodb+srv://lokesh_15:lokesh15102001@cluster0.em4b62y.mongodb.net/

# Node Environment
NODE_ENV=production
